# Files and directories to ignore in your Git repository

# Build artifacts
build/
dist/

# Environment variables
*.env
*.env.example

# Dependency directories
node_modules/

# IDE/editor files
.idea/
.vscode/

# Other files
coverage/
npm-debug.log*
yarn-error.log*